body{
	background-color: #f4f4f4;
	color: #555;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6em;
	margin: 0;
}

.container{
	width: 90%;
	margin: auto;
	overflow: hidden;
}

#my-header{
	background-color: coral;
	font-weight: bold;
}

#my-nav ul{
	padding: 0;
	list-style: none;
}

#my-nav li{
	display: inline;
}

#my-nav a{
	color: #fff;
	padding-right: 15px;
	font-size: 12px;
	font-weight: bold;
}

#my-nav{
	background-color: black;
}

#show-case{
	background-image: url('../images/background/bricks.png');
	background-position: center center;
	min-height: 200px;
}

article section, article aside{
	margin-top:5px;
}

section{
	width: 69%;
	height: 300px;
	float: left;
	clear: left;
	border: dotted 2px #000;
	box-sizing: border-box;
}

#brift-intro{
	width: 30%;
	height: 600px;
	float:right;
	border: dotted 2px #000;
	box-sizing: border-box;
}

#ad{
	width: 5%;
	height: 5%;
	position: fixed;
	right: 0px;
	top:45%;
	background-color: #dedede;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: red;
}